node_modules
test/**/*.dot
.vscode-test

# Jest coverage reports
coverage/

# Jest cache
jest-cache/
jest-config/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db