name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install Root Dependencies
      run: |
        echo "::group::Installing Root Dependencies"
        npm ci
        echo "::endgroup::"

    - name: Install Test Dependencies
      run: |
        echo "::group::Installing Test Dependencies"
        cd test
        npm ci
        echo "::endgroup::"

    - name: Lint
      run: | 
        echo "::group::Linting"
        npx eslint .
        echo "::endgroup::"

    - name: Run Tests
      run: |
        echo "::group::Running Tests"
        cd test
        node run-tests.js --all
        echo "::endgroup::"