name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Use Node.js 16.x
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x
                  cache: 'npm'

            - name: Install Dependencies
              run: npm ci

            - name: Check Formatting
              run: npm run format:check

            - name: Lint
              run: npx eslint . -f gha

    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Use Node.js 16.x
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x
                  cache: 'npm'

            - name: Install Root Dependencies
              run: npm ci

            - name: Install Test Dependencies
              run: |
                  cd server
                  npm ci

            - name: Run Tests
              run: |
                  npx jest --ci --reporters=default --reporters=github-actions --all
                  cd server
